<!DOCTYPE html>
<html>

<script type="text/javascript">
  function showFileName() {
    var fil = document.getElementById("my_file").value;
    document.getElementById("test").innerHTML = fil;
  }
  </script>

<head>
<meta charset="UTF-8">
<title>Anomaly Detection</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background: #000;">
 <div class="login">
	<h1>AMULET Anomaly Detection</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="file" id="my_file" name="my_file" placeholder="wav file" required="required"/>
      <button type="submit" onclick="showFileName()" class="btn btn-primary btn-block btn-large">Detect anomalies in this wav file!</button>
    </form>

   <br>
   <br>
   <!-- pre>{{ prediction_text }}</pre -->

   <p id="test"></p>

   <div class="scrollable">
     <table>
      <thead>
          <tr>
              <th>Anomaly</th>
              <th>Value</th>
              <th>Seconds</th>
          </tr>
      </thead>
      <tbody>
          {% for row in anomalies %}
          <tr>
              {% for key, value in row.items() %}
                <td>{{ value }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
     </table>
   </div>

 </div>


</body>
</html>
